* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

/*body {
    background-image: url(../img/stars.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    min-width: 1300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-top: 0;
}
*/


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    align-items: center;
    font-size: 15px;
    color: #52A7E4;
}

.calendar-container {
    width: 85%;
    margin: auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
}

.calendar {
    display: flex;
    align-items: center;

    font-size: 45px;
    line-height: 54px;

    color: #52A7E4;
}

.round {
    border: 1px solid #52A7E4;
    border-radius: 14px;
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    column-gap: 2rem;
    width: fit-content;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.calendar-button {
    width: 5rem;
    border-radius: 10px;

}


.active{
    background-color: #52A7E4;
    color: #111624;
}

.calendar-buttons,
.header-button {
    height: 2.4rem;
}

.button {
    transition: 0.3s;
}


.button:hover {
    color: #111624;
    background-color: #52A7E4;
}








