html,
body,
p {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.mainDiv {
    position: absolute;*/
    /* width: 100vw; */
    /* height: 100vh; */
    /*background-color: #52a7e4;
    padding-bottom: 1rem;
}*/

.insideDiv {
    padding: 1rem 3rem;
    top: 1rem;
    /* left: 2.5rem; */
    margin: 0rem 2.1rem;
    background-color: #111624;
    /* width: 92%; */
    /* height: 95vh; */
}

.pNew {
    margin: 0rem 2.1rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #111624;
}

.labelF {
    width: 15rem;
    height: 3rem;
    left: 36rem;
    top: 108px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 48px;
    margin: 1rem;
    color: #52a7e4;
}

.inputF {
    width: 90%;
    height: 1.3rem;
    left: 34.5rem;
    top: 12rem;
    margin: 1rem;
    border: none;
    color: #52a7e4;
    font-size: 1.3rem;
    border-radius: 4px;
    background-color: #111624;
    border-bottom: 1px solid #52a7e4;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 3px solid #52a7e4;
}

.divTime {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.timeText {
    grid-column-start: 1;
    grid-row-start: 2;
    align-content: center;
    justify-content: center;
}

.time {
    /* width: 5rem;
  height: 2rem;
  align-self: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400; */

    line-height: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    color: #52a7e4;
    white-space: nowrap;
}

hr {
    height: 0px;
    border: 1px solid #52a7e4;
}

.containerTime {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
}

.textDateTime p {
    width: 13rem;
    height: 2rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 30px;
    color: #52a7e4;
}

.divDate {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

input[type="date"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.313rem 0.813rem;
    gap: 0.438rem;
    width: 10.625rem;
    height: 2.313rem;
    left: 0.5rem;
    top: 9.313rem;
    background: #111624;
    border: 1px solid #52a7e4;
    border-radius: 0.625rem;
    color: #52a7e4;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transform: (-50%, -50%);
    background: url("/img/free-icon-calendar-747824.png") no-repeat center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 0.313rem;
}

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

.superstyle::-webkit-inner-spin-button,
.superstyle::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}



.ture {
    width: 1.8rem;
    height: 0;
    left: 17.688rem;
    top: 10.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 1px solid #52a7e4;
}

.end {
    grid-column-start: 3;
    grid-row-start: 1;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 30px;
    margin-left: 8rem;
    color: #52a7e4;
}

.endP {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 30px;
    color: #52a7e4;
    white-space: nowrap;
}
p {
    width: 5rem;
    height: 2.5rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    white-space: nowrap;
    color: #52a7e4;
}
.checkAllDay {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 2;
    vertical-align: middle;
    align-items: center;
    padding-bottom: 1rem;
}

input[type="checkbox"] {
    margin-top: 0.8rem;
    margin-right: 1rem;
}

.checkAllDay label {
    width: 9rem;
    height: 1.5rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #52a7e4;
}

.description {
    display: grid;
    grid-template-columns: 0.6fr 2fr;
}

.divDescr {
    grid-column-start: 1;
    margin-left: 2rem;
    justify-content: center;
    align-self: center;
}

.description textarea {
    box-sizing: border-box;
    width: 50rem;
    /* height: 5.4rem; */

    background: #111624;
    border: 1px solid #52a7e4;
    border-radius: 20px;
}

.styleP {
    width: 5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    white-space: nowrap;
    color: #52a7e4;
}

.description select {
    box-sizing: border-box;
    width: 469px;
    height: 45px;
    margin-left: 1rem;
    margin: 1rem;
    background: #111624;
    border: 1px solid #52a7e4;
    border-radius: 20px;
    font-size: 1.3rem;
}

select {
    cursor: pointer;
    color: #52a7e4;
    font-size: 1.2rem;
}

option {
    border-radius: 20px;
    border-bottom: 1px solid #52a7e4;
}

textarea {
    resize: none;
    width: 10rem;
    color: #52a7e4;
    font-size: 1.2rem;
}

    textarea::placeholder {
        color: #52a7e4;
        left: 1rem;
    }

.members {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #52a7e4;
    border-radius: 1rem;
    margin: 1rem;
}


    .memb img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #52a7e4;
    }

.name {
    width: 10rem;
    height: 30px;
    font-weight: bold;
    font-family: "Inter";
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    margin: 1rem;
    color: #111624;
}

.members button {
    width: 8.4rem;
    height: 2rem;
    margin: 1rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7rem;
    background-color: #111624;
    color: #52a7e4;
    border: none;
    cursor: pointer;
}

.co {
    margin-left: 2rem;
    font-size: 1.45rem;
}

.people {
    display: flex;
    margin: 1.5rem;
    font-size: 1.3rem;
}

    .people img {
        width: 2.1rem;
        height: 2.1rem;
        border-radius: 50%;
        border: 1px solid #52a7e4;
        margin-right: 1rem;
    }

.peopleP {
    font-size: 1rem;
}

.checkConfirm {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 30rem;
    height: 2.8rem;
    color: #52a7e4;
    background: #111624;
    border: 1px solid #52a7e4;
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top:1rem;
    text-align:center;
}

    .checkConfirm label {
        margin-top: auto;
        margin-bottom: auto;
    }

.usefullClass{
    display:flex;
    justify-content:space-between;
}




.hard {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.coWorkers {
    margin-right: 1rem;
}

.shedule {
    border-left: 1px solid #52a7e4;
    border-bottom: 1px solid #52a7e4;
    margin-left: 1rem;
    width: 100%;
}

.box {
    grid-area: 3/1/4/17;
    background-color: #52a7e4;
}

.day {
    grid-area: 1/1/2 / span 4;
    white-space: nowrap;
    width: 14rem;
    height: 1.6rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #52a7e4;
    margin-bottom:2rem;
}

.time-span-row {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    width: 100%;
}

    .time-span-row > div {
        border-right: 1px solid #52a7e4;
        color: white;
        padding: 0.3rem;
        font-size: 0.8rem;
        /* align-self: center; */
        /* width: 100%; */
    }

.time-block {
    width: 100%;
    height: 1.5rem;
    background-color: #a09595;
}

.time-blocks {
    position: relative;
}

.time-change-block {
    position: absolute;
    top: -0.25rem;
    background-color: #52a7e4;
    height: 2rem;
    width: 3rem;
    opacity: 0.8;
    cursor: move;
}


/*---------------------------------------------------window*/

.membersWindow {
    width: 7.6rem;
    height: 2.1rem;
    /* left: 44.5rem;
    top: 36.8rem;*/
    border: none;
    cursor: pointer;
    background: #52a7e4;
    border-radius: 15px 15px 0px 0px;
}

    .membersWindow p {
        width: 6.5rem;
        height: 24px;
        left: 45rem;
        top: 37rem;
        text-align: end;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #111624;
    }

.box2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 29rem;
    height: 17.5rem;
    left: 622px;
    top: 42rem;
    background: #111624;
    border: 1px solid #52a7e4;
}

.first {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 3rem;
    left: 44.86rem;
    width: 27.4rem;
    margin-left: 0.428rem;
    margin-right: 1.214rem;
    margin-top: 0.642rem;
    background: #111624;
    border: 1px solid #52a7e4;
}

.block {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 11.4rem;
    height: 2.1rem;
    left: 45.64rem;
    top: 39.85rem;
    margin-left: 0.8rem;
    background: #a0d7ff;
}

    .block img {
        width: 1.6rem;
        height: 1.6rem;
        left: 647px;
        margin-left: 0.5rem;
        top: 562px;
        border-radius: 50%;
        border: 1px solid #52a7e4;
    }

    .block p {
        width: 8.35rem;
        height: 1.714rem;
        white-space: nowrap;
        margin-left: 0.9rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #111624;
    }

.inpSearch {
    width: 11rem;
    height: 1.7rem;
    margin-left: 4rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #111624;
    color: #52a7e4;
    border: none;
}

input:focus {
    outline: none;
}

.secondBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29rem;
    margin-top: 1rem;
    overflow: scroll;
    /*для вертикального*/
    overflow-x: hidden; /*для горизонтального*/
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #52a7e4;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, #00c6fb, #005bea);
    }



.inBox {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 2.5rem;
    left: 45.57rem;
    margin-top: 1rem;
    width: 27.51rem;
    margin-left: 0.428rem;
    margin-right: 1.214rem;
}

    .inBox:hover {
        background-color: #52a7e4;
    }

    .inBox p:hover {
        color: #111624;
    }

    .inBox img {
        width: 2rem;
        height: 2rem;
        left: 46rem;
        top: 43.14rem;
        border-radius: 50%;
        border: 1px solid #a0d7ff;
        margin-left: 0.7rem;
    }


    .inBox p {
        width: 7.857rem;
        height: 18px;
        left: 674px;
        top: 603px;
        margin-left: 3rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 18px;
    }

.bird {
    width: 15.5px;
    height: 15px;
    top: 650px;
    color: #111624;
    margin: 0.57rem 0.71rem 1.2rem 12rem;
}
