* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    max-width: 100vw;
    min-width: 1300px;
}



.chat-container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    margin-left: 65px;
    margin-right: 80px;
}


.left_side {
    width: 100%;
    background-color: black;
}

.icon {
    width: 34px;
    height: 34px;
}

.house {
    margin-top: 118px;
    margin-left: 14px;
}

.normal {
    margin-left: 14px;
}


.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}




/*.chat-div {
    display: grid;
    grid-template-columns: auto 3fr;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    margin-left: 65px;
    width: calc(100vw - 65px);
}*/




.chatList {
    border: 1px solid #52A7E4;
    background-color: #09122C;
    overflow-x: hidden;
    overflow-y: auto;
    width: fit-content;
    padding: 0.5rem;
}

.search {
    font-size: 35px;
    font-weight: 400;
    color: #52A7E4;
    margin-left: 20px;
}

.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.hr1 {
    border-color: #52A7E4;
}



::-webkit-scrollbar {
    width:5px;
}

.combobox {
    background-color: black;
    color: #52A7E4;
    height: 30px;
    width: 119px;
    border-radius: 22px;
    text-align: center;
    top: 30px;
    left: 250px;
    border: none;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(82, 167, 228, 0.25));
}

.users {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.user {
    display: flex;
    column-gap: 0.5rem;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info-time {
    color: #52A7E4;
    height: 30px;
    width: 97px;
    text-align: center;
    background-color: black;
    border-radius: 22px;

    
}

.hr2 {
    border-color: black;
}

.p {
    color: #52A7E4;
    margin-left: 10px;
}



.label {
    position: relative;
    background-color: #52A7E4;
    color: #111624;
    border-radius: 24px;
    width: 191px;
    text-align: center;
}



.right-chat-block{
    height:inherit;
    display:grid;
    grid-template-rows:70px auto 15vh;
}




.messages-div{
    position:relative;
    z-index:10;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url("https://cdn.discordapp.com/attachments/684475244664193242/1070786368508280902/img.jpg");
    border: 1px solid #52A7E4;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages-div::-webkit-scrollbar {
    /*display: none;*/
}

.userIcon {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.right{
    justify-content: end;
}


.user-name{
    color: #FFFFFF;
}

.my-name{
    color: #52A7E4;
}

.user-message{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


.sentTime {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 100;
}

.userIcon div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    width: fit-content;
    max-width: 330px;
    height: auto;
    background-color: #52A7E4;
    border-radius: 20px;
    padding: 5px 10px;
    word-wrap: break-word;
    font-size: 1.1rem;
}

.my-message {
    color: #52A7E4;
    background-color: black;
    align-self: end;
}





.send_msg {
    display:grid;
    grid-template-columns:1fr auto;
    column-gap:2rem;
    padding:0.5rem 1rem;
    border: 1px solid #52A7E4;
    background-color: #09122C;
    height: 15vh;   

}



    .send_msg .txt {
        width: 100%;
        height: 12vh;
        font-weight: 400;
        font-size: 1rem;
        background-color: transparent;
        color: #9BFFFA;
        resize: none;
        padding-left: 2px;
    }



.send{
    justify-self:end;
    cursor:pointer;
    transition:0.1s;
}

.send:hover{
    transform:scale(1.2);
}

#user-name {
    color: #52A7E4;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
}


.chat-name-div {
    background: #09122C;
    border: 1px solid #52A7E4;
    display:flex;
    align-items:center;
    padding:0.5rem;
}

.chat-name {
    color: #52A7E4;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    line-height: 30px;
}

.chat-members {
    /*border-right: 1px solid #52A7E4;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #52A7E4;
    font-size: 1rem;
    line-height:30px;
    cursor:pointer;*/
    position:relative;
}

.show-members-button:hover {
    background: #52A7E4;
    color: #09122C;
}


.show-members-button {
    border-right: 1px solid #52A7E4;
    border-left: 1px solid #52A7E4;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #52A7E4;
    font-size: 1rem;
    line-height: 2;
    cursor: pointer;
    transition: 0.1s;
    margin-left:1rem;
}

.chat-members-list {
    z-index:11;
    position: absolute;
    top: 0;
    left: 100%;
    background: #09122C;
    border: 1px solid #52A7E4;
    
    width:15rem;

    display:flex;
    flex-direction:column;
    padding:1rem;

    transition:0.1s;
}

.chat-members-list > p {
    width: 100%;
    color: #52A7E4;
    cursor:pointer;
    padding:1rem 2rem 2rem;
    padding-bottom:2rem;
}

    .chat-members-list > p:hover {
        background: #52A7E4;
        color: #09122C;
    }

.hide {
    display: none;
    transition: 0.1s;
}

.active {
    background: #52A7E4;
    color: #09122C;
}


.event-date {
    color: #52A7E4;
    font-size:1rem;
}


