.calendar-grid {
    background: #111624;
    border: 3px solid #52A7E4;
    border-radius: 83px;
    padding: 2rem;
    margin-top: 1.5rem;
    height: auto;
    min-height: 80vh;
}
    /*//////////////Animation///////////////////*/
    .calendar-grid.shrink {
        transform: scale(0.3) translateX(-80%);
        transition: transform 0.3s ease;
    }

    .calendar-grid.go {
        transform: scale(0.3) translateX(-270%);
    }
/*//////////////////////////////////////*/
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    color: #52A7E4;
}

.month-name {
    font-size: 60px;
    line-height: 73px;
    color: #52A7E4;
}


.select-month,
.select-years {
    position: relative;
}

.label {
    font-size: 20px;
}

.arrow {
    transition: 0.5s;
}

.options-month,
.options-years {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #52A7E4;
    color: #111624;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 20px;
    transition: 0.2s;
}


.hide {
    display: none;
}



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}


.option-item {
    border: 3px solid #52A7E4;
    border-radius: 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
    text-align: center;
}

    .option-item:hover {
        border: 3px solid #111624;
    }


.trans-left {
    transform: rotate(90deg);
}

.trans-right {
    transform: rotate(-90deg);
}









.times-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(17, 1fr);
    row-gap: 2px;
}

.white-text {
    color: white;
    font-size: 1rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}


.week-grid {
    background-color: #fff;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(17, 1fr);
}

.head-day {
    background: #111624;
    font-size: 1.5rem;
    color: #52A7E4;
    text-align: center;
    border: 1px solid #52A7E4;
    width: 100%;
}

.week-flex {
    display: flex;
    column-gap: 0.5rem;
    height: 100%;
}

.left-radius {
    border-top-left-radius: 0.7rem;
}

.right-radius {
    border-top-right-radius: 0.7rem;
}

.week-day {
    background: linear-gradient(180deg, #80C3E4 99.99%, rgba(242, 214, 214, 0) 100%);
    margin: 1px;
    /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
}
