@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MEVIO.Models.Task

<link type="text/css" rel="stylesheet" href="/css/TaskStyle.css">
<style>
    .head-button {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.1s;
        border-radius: 14px;
        width: 10rem;
        background-color: #52A7E4;
        color: #111624;
    }

    .head-button2 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.1s;
        border-radius: 14px;
        width: 10rem;
    }

        .head-button2:hover {
            background-color: #52A7E4;
            color: #111624;
        }
</style>
<body id="body">
    <div class="container">
        <div class="head-flex">
            <div class="head-button">Завдання</div>
            <div class="head-button2">Події</div>
            <div class="head-button2">Заходи</div>
        </div>
        <form id="taskForm" asp-controller="Task" asp-action="AddTask" method="post">
            <div>
                <input type="text" asp-for="@Model.TaskName" on class="head-input" placeholder="Ввести назву завдання">
            </div>

            <div>
                <textarea class="textarea" asp-for="@Model.Description" placeholder="Опис"></textarea>
            </div>

            <div class="check-list-flex">
                <div class="flex">
                    <input type="file" name="file" id="file" hidden>
                    <label class="label" for="file"><img src="img/free-icon-paperclip-8774561 2.png" alt=""></label>
                    <label for="file" class="label">Файл</label>
                </div>

                <div>
                    <label for="" class="label check-list">+ Чек лист</label>
                </div>
                <div>

                </div>
            </div>

            <div class="response-block">
                <div class="response-div">Відповідальний</div>
                <div class="response-div">
                    <div class="add-response-block">
                        <div class="user-block">
                            W1sh
                        </div>
                        <div class="add-response-user">
                            + Додати ще
                        </div>
                    </div>

                </div>
                <div class="response-div">Постановник</div>
            </div>

            <hr class="hr">

            <div id="responseBlock" class="response-block">
                <div class="response-div">Крайній термін</div>
                <div class="response-div">
                    <input class="conData" type="date" id="date" name="date">
                </div>
                <div id="planTerm" class="response-div">Планування термінів</div>
            </div>

            <hr class="hr">

            <div class="results-block">
                <div class="result">
                    Результати завдання
                </div>
                <div>
                    <input class="alert-checkbox" type="checkbox" name="" id="alertMe">
                    <label class="label-alert" for="alertMe">Обов'язковий звіт при завершенні завдання</label>
                </div>
            </div>

            <div class="submit-block">
                <button type="submit" class="form-button">Зберегти</button>
                <div class="form-button">Відмінити</div>
            </div>

        </form>
    </div>

    <script>
        var dob = document.getElementById("responseBlock")
        document.getElementById("planTerm").addEventListener("click", function () {
            var input = document.createElement("input");
            input.type = "date";
            input.classList = "response-div";
            dob.appendChild(input);
        });
    </script>


</body>