@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}

@model User



<style>
   
    .login-box {
        width: 400px;
        height: auto;
        padding: 40px;
        background: #111624;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(6,149,255,0.48);
        border-radius: 10px;
        font-family: sans-serif;
        margin-top:-5rem;
    }

        .login-box h2 {
            margin: 0 0 30px;
            padding: 0;
            color: black;
            text-align: center;
        }

        .login-box .user-box {
            position: relative;
        }

            .login-box .user-box input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #52A7E4;
                outline: none;
                background: transparent;
            }

            .login-box .user-box label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: gray;
                pointer-events: none;
                transition: .5s;
            }

            .login-box .user-box input:focus ~ label,
            .login-box .user-box input:valid ~ label {
                top: -20px;
                left: 0;
                color: gray;
                font-size: 12px;
            }

    #login {
        transform-style: preserve-3d;
        transition: .5s ease-in-out;
    }

    .card {
        width: 100%;
        height: 100vh;
        background-color: transparent;
        border: 0px;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .btn {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: rgb(82, 167, 228);
        width: 120px;
        color: black;
        border-radius: 30px;
        font-weight: 900;
        transition: all 0.2s ease-in-out;
        padding:0.5rem;
    }

    .glow-btn:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
    }

    .refGoogle{
        text-decoration:none;
        
        width:15rem;
        height:10rem;
    }

    .imgGoogle {
        position: absolute;
        width: 5rem;
        height: 2.2rem;
        border-radius: 30px;
        font-weight: 900;
        align-self: center;
        border: 1px solid black;
        margin-left:0.7rem;
    }

    .subGoogle {
        margin-left: 3rem;
        justify-content: center;
        align-items: center;
    }
</style>


    <div class="card">
        <div class="login-box" id="login">
            <h2 style="font-weight:bold; color:#52A7E4;">MEVIO</h2>

        <form asp-controller="Registry" asp-action="Login" method="post">
                <div class="user-box">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" @*asp-for="Password"*@ name="password" required>
                    <label>Password</label>
                </div>

            <div class="subGoogle">
                <button type="submit" class="btn glow-btn">Вхід</button>
               @* <a class="refGoogle" href="/GoogleOAuth/RedirectOnOAuthServer">
                    <img class="imgGoogle" src="/img/imgGoogle.png" alt="" />
                </a>*@

                @*<a asp-controller="Account" asp-action="GoogleLogin">Sign in with Google</a>
                <div ></div>*@
            </div>
            </form>
        </div>
    </div>



     @*private const string ClientId = "715700270542-m2iv2jqmaue49o43d969evbivc5jqj1s.apps.googleusercontent.com";

     private const string ClientSecret = "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";*@


@*<script src="https://accounts.google.com/gsi/client" async defer></script>
<script async custom-element="amp-onetap-google" src="https://cdn.ampproject.org/v0/amp-onetap-google-0.1.js"></script>*@

<script>

    //function onSignIn(googleUser) {
    //    var profile = googleUser.getBasicProfile();
    //    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    //    console.log('Name: ' + profile.getName());
    //    console.log('Image URL: ' + profile.getImageUrl());
    //    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    //}


    document.getElementById('google-signin-btn').addEventListener('click', function () {
        google.accounts.id.initialize({
            client_id: '715700270542-m2iv2jqmaue49o43d969evbivc5jqj1s.apps.googleusercontent.com',
            callback: handleCredentialResponse
        });
        google.accounts.id.prompt();
    });

    function handleCredentialResponse(response) {
        var credential = response.credential;
        var id_token = credential.id_token;
        // Дополнительная обработка информации об аутентифицированном пользователе
    }

    function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>