@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link type="text/css" rel="stylesheet" href="/css/MEVIOStvorPodii3.css">
<style>
    .conTime {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.125rem;
        padding-top: 0.313rem;
        padding-bottom: 0.375rem;
        width: 5.188rem;
        height: 2.375rem;
        left: 11.688rem;
        top: 9.313rem;
        background: #111624;
        border: 1px solid #52A7E4;
        border-radius: 0.625rem;
        color: #52A7E4;
        font-size: 17px;
    }

    .conTime2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.125rem;
        padding-top: 0.313rem;
        padding-bottom: 0.375rem;
        width: 5.188rem;
        height: 2.375rem;
        left: 21.313rem;
        top: 9.313rem;
        background: #111624;
        border: 1px solid #52A7E4;
        border-radius: 0.625rem;
        color: #52A7E4;
        font-size: 17px;
    }
    .Div-Mesto-Prov2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0 0 1rem;
    }

    .p-Mesto-Prov2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */


        color: #52A7E4;
    }

    .button-Mesto-Prov2 {
        background: #111624;
        border: 1px solid #52A7E4;
        border-radius: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
        padding: 0.5rem;
        width: 6rem;
        margin-right: 31rem;
        color: #52A7E4;
        cursor: pointer;
    }
</style>

<div id="bodyDiv">
    @model Event
    
    <form enctype="multipart/form-data" asp-action="EventMini">
        <input type="hidden" name="Id" value="@Model?.Id" />

        <div class="contener">



            <div class="divStrockZap2">

                <input asp-for="@Model.EventName?" value="@Model?.EventName" class="input-StrockZap2" type="text" placeholder="Нова подiя">
            </div>

            <div class="classPodcherk">
            </div>

            <div class="div-NazCal">
                <img class="imgAVA" src="/img/6a523b423e71ad8b708af55f0f6a0bd5.jpg">
                <p class="nazCalendar">Календар:
                <p class="nazCalendar2"> @ViewBag.Useres?.UserName</p>
                </p>
            </div>

            <div class="Data-Calendat-Time">
               
                <input id="Date" value="@ViewBag.Date"  onchange="updateDates()" type="date" class="conData">
                <input type="time" id="time1" min="07:00" max="22:00" value="@Model?.Begin.ToString("hh\\:mm")" class="conTime superstyle element-time">
                <div class="classPodcherk2"></div>
                <input type="time" min="07:00" max="23:00" id="time2" value="@Model?.End.ToString("hh\\:mm")" class="conTime2 superstyle element-time">
                <input id="DateEnd"  value="@ViewBag?.DateEnd" type="date" class="conData2">
                <input class="checkbox2" id="checkbox" onclick="myFunction()" type="checkbox">
                <p class="checkbox">На весь день</p>

            </div>

            <div class="Div-Spov">
                <input type="submit" value="Учасники" class="butonYchas">
                <div class="Div-spov-Icon-Parad">
                    <img class="imgCol" src="/img/free-icon-ringing-bell-6816519.png">
                    <p class="classSpov">
                        Сповіщати про рішення
                    </p>
                </div>
            </div>



            <div class="Scrol-Time">
                <img src="/img/6a523b423e71ad8b708af55f0f6a0bd5.jpg" class="imgAva2">
                <div class="Raz-Line">
                    <div class="shedule">
                        <div class="day">Субота, Лютий 25</div>

                        <div class="time-span-row">
                            <div>7-00</div>
                            <div>8-00</div>
                            <div>9-00</div>
                            <div>10-00</div>
                            <div>11-00</div>
                            <div>12-00</div>
                            <div>13-00</div>
                            <div>14-00</div>
                            <div>15-00</div>
                            <div>16-00</div>
                            <div>17-00</div>
                            <div>18-00</div>
                            <div>19-00</div>
                            <div>20-00</div>
                            <div>21-00</div>
                            <div>22-00</div>
                        </div>

                        <div class="time-span-row time-blocks">
                            <div class="time-change-block" ></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            <div class="time-block"></div>
                            
                        </div>

                        <div class="time-span-row">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>



                        </div>

                    </div>
                </div>
            </div>



            <div class="Div-Mesto-Prov">
                <p class="p-Mesto-Prov">Перейти до чату:</p>
                <input type="submit" value="Перейти" asp-action="Chat" asp-controller="Home" class="button-Mesto-Prov">
            </div>
            <div class="Div-Mesto-Prov2">
                <p class="p-Mesto-Prov2">Опис:</p>
                <div class="div-Mesto-Prov2" >
                    <textarea  class="textarea-Mesto-Prov2">@Model?.Description</textarea>
                </div>
                <input type="submit" value="Редагувати" class="button-Mesto-Prov2">
            </div>

           @* <div class="Div-Napom">
                <div class="p-Napom">
                    <p>Нагадування:</p>
                    <p style="margin-left: 1rem;">
                        За 15 хвилин
                    </p>
                </div>

                <input type="submit" value="Додати" class="button-Napom">
            </div>*@
            <div class="div-Button-ST-VD">
                <input type="submit" value="Редагувати" class="button-Stvorutu">
                <input type="submit" value="Закрити" class="button-Vidminutu">
            </div>
        </div>
    </form>
    <script>
        
        //var today = moment().format('DD-MM-YYYY');
        var dateInput = document.getElementById("Date");
        dateInput.value = "@ViewBag?.Date";
        var dateEnd = document.getElementById("DateEnd");
        dateEnd.value = "@ViewBag?.DateEnd";


        //function toggleElement(elementId) {
        //    var element = document.getElementById(elementId);
        //    if (element.style.display === "none") {
        //        element.style.display = "block";
        //    } else {
        //        element.style.display = "none";
        //    }
        //}

        function toggleElements(className) {
            var elements = document.getElementsByClassName(className);
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                } else {
                    elements[i].style.display = "none";
                }
            }
        }

        function updateDates() {
            var checkbox = document.getElementById("checkbox");
            var date1 = document.getElementById("Date").value;
            var date2 = document.getElementById("DateEnd");

            if (checkbox.checked) {
                date2.value = date1;
            } else {
                date2.value = "@ViewBag.DateEnd";
            }
        }
        function myFunction() {
            toggleElements('element-time');
            updateDates();
        }
    </script>
    <script src="~/js/jquery-3.6.1.min.js" asp-append-version="true"></script>
    <script src="~/js/scriptEventMini2.js" asp-append-version="true"></script>
    @*<script src="~/js/MathTimeLine.js" asp-append-version="true"></script>*@
    <script src="~/js/SashaTimeLine.js" asp-append-version="true"></script>


</div>
