@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul class="menu">

        <li>
            <a href="#"><i class="izq fa fa-object-group"></i><span>Categorias</span><i class="der fa fa-chevron-down"></i></a>
            <ul>
                <li><a href="#">Catrgoria 1</a></li>
                <li><a href="#">Catrgoria 2</a></li>
            </ul>
        </li>
    </ul>
</div>
<div><h1>Hello Its me</h1></div>
