@{
    ViewData["Title"] = "Home Page";
}

<a class="nav-link text-warning" asp-controller="Home" asp-action="LoginRegister"> LoginRegister </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="Calendar1" > Calendar </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="Chat"> Chat </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="MainPage"> Main Page </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="ZapStudent"> Zap Student </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="ZapTeacher"> Zap Teacher </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="Event"> Event </a>
<a class="nav-link text-warning" asp-controller="Home" asp-action="Measure"> Measure </a>






