@{
    ViewData["Title"] = "Home Page";
}
<link type="text/css" rel="stylesheet" href="/css/site.css">
<div class="divMar">

    
    <a style="color:aqua" asp-controller="Registry" asp-action="Index"> LoginRegister </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="Calendar1">Calendar </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="Chat"> Chat </a>
    <br />
    <a style="color:aqua" asp-controller="MainPage" asp-action="MainPage"> Main Page </a>
    <br />
    <a style="color:aqua" asp-controller="ZapStudent" asp-action="Index"> Zap Student </a>
    <br />
    <a style="color:aqua" asp-controller="ZapTeacher" asp-action="Index"> Zap Teacher </a>
    <br />
    <a style="color:aqua" asp-controller="Event" asp-action="Index"> Event </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="EventMini"> EventMini </a>
    <br />
    <a style="color:aqua" asp-controller="Meassure" asp-action="Index"> Meassure </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="IndexTest"> IndexTest </a>

    <a style="color:aqua" asp-controller="TableUsers" asp-action="Index"> All Users</a> @*tableUsers*@

    

</div>




