@{
    ViewData["Title"] = "Home Page";
}
<link type="text/css" rel="stylesheet" href="/css/site.css">
<div class="divMar">
=======

    <h2>hhghgg</h2>
>>>>>>> 0f70cc5975998cc2a6b3e8c65cdd819b4e1c0445
    <a style="color:aqua" asp-controller="Home" asp-action="LoginRegister"> LoginRegister </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="Calendar1">Calendar </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="Chat"> Chat </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="MainPage"> Main Page </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="ZapStudent"> Zap Student </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="ZapTeacher"> Zap Teacher </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="Event"> Event </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="EventMini"> EventMini </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="Measure"> Measure </a>
    <br />
    <a style="color:aqua" asp-controller="Home" asp-action="IndexTest"> IndexTest </a>

</div>




