@{
    ViewData["Title"] = "Home Page";
} 
@model MEVIOContext
<div>
    <h1>HELLO WORLD!</h1>
</div>

@foreach (var user in ViewBag.Users)
{
    <h2>@user.UserName</h2>
   @foreach(var task in user.Tasks)
    {
        <p>@task.TaskName</p>
    }
}





@*@foreach(var userId in ViewBag.Users1)
{
   
   <p>@userId.UserName</p>
}

@foreach (var user in ViewBag.Users2)
{
    <p>@user.UserName </p>
}*@