@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link type="text/css" rel="stylesheet" href="~/css/MEVIOGlavStan.css">

<style>
    .bodyDiv {
        margin-left: 10rem;
    }
</style>
<body>
    <div class="bodyDiv">

       
        <div class="button-cont">
            <input type="button" class="button-Zahod" value="Заходи">
            <input type="button" class="button-Podii" value="Події">
            <input type="button" class="button-Zadachi" value="Задачi">
        </div>
        <div class="div-obj-News">
            <div class="div-obj-News-cont">
                <div class="div-div-News">
                    <img class="img-Ava" src="/img/6a523b423e71ad8b708af55f0f6a0bd5.jpg">
                    <div class="div-Img-Date">
                        <p class="Nick-Name">W1sh Agony</p>
                        <p class="Data-p">сьогодні, 15:00</p>
                    </div>
                    <div class="div-p-Ychas">
                        <p class="Sotrydniki">Всем сотрудникам </p>
                        <p class="Sotrydniki">Всем сотрудникам</p>
                    </div>
                    


                </div>
                <div class="div-Sob">
                    <h6 class="h-Pod">Подія:</h6>
                    <div class="div-Naz-Pod">
                        <p class="p-Pod">Назва події:</p>
                        <p class="p2-Pod">Нова Подія222</p>


                    </div>
                    <div class="div-Poch-Pod">
                        <p class="p1-Pod">Початок:</p>
                        <p class="p2-Pod2">Воскресенье, 12 февраля, 2023, 21:25</p>
                    </div>

                </div>
                <input type="button" value="Обговорити" class="button-Obgovor">
            </div>
        </div>

        <div class="div-obj-News">
            <div class="div-obj-News-cont">
                <div class="div-div-News">
                    <img class="img-Ava" src="/img/6a523b423e71ad8b708af55f0f6a0bd5.jpg">
                    <div class="div-Img-Date">
                        <p class="Nick-Name">W1sh Agony</p>
                        <p class="Data-p">сьогодні, 15:00</p>
                    </div>

                    


                </div>

                <div class="users-members">
                    <p class="Sotrydniki">Всем сотрудникам</p>
                    <p class="Sotrydniki">Всем сотрудникам</p>
                </div>


                <div class="div-Sob">
                    <h6 class="h-Pod">Подія:</h6>
                    <div class="div-Naz-Pod">
                        <p class="p-Pod">Назва події:</p>
                        <p class="p2-Pod">Нова Подія222</p>


                    </div>
                    <div class="div-Poch-Pod">
                        <p class="p1-Pod">Початок:</p>
                        <p class="p2-Pod2">Воскресенье, 12 февраля, 2023, 21:25</p>
                    </div>

                </div>
                <input type="button" value="Обговорити" class="button-Obgovor">
            </div>
        </div>
    </div>
    @*<div class="contener">
    </div>*@
</body>
