@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/MEVIORegistStudent.css" asp-append-version="true" />

<body>
    <div class="div-CONT">


        <div class="contener">
            <div class="div-search">
                <input class="search">

                <div class="palochka"> </div>
                <img class="searchImg" src="/img/free-icon-search-4194718.png">
            </div>

            <div class="div-Zag">
                <p class="Zag">Регистрация</p>
            </div>


            <div class="divContenerZap">
                <div class="div-buttons">
                    <input class="buttonstyleStudent" type="submit" value="Учень">
                    <input class="buttonstyleTeaher" type="submit" value="Вчитель">
                </div>
                <div class="classPodcherk"> </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 91px; ">Name:</p>
                    <input class="divStrockZap2" style="top: 95px;  left: 400px;" placeholder="Oleg">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top:157px">Phone:</p>
                    <input class="divStrockZap2" style="top:161px;  left: 400px;" placeholder="38069812114">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top:223px">Email:</p>
                    <input class="divStrockZap2" style="top: 227px;  left: 400px;" placeholder="blabla@gmail.com">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top:289px">DataBezday:</p>
                    <input class="divStrockZap2" style="top: 293px;  left: 400px;" placeholder="20.05.2004">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top:365px">MyStatLogin:</p>
                    <input class="divStrockZap2" style="top: 361px;  left: 400px;" placeholder="teny_ny02">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top:421px">Password:</p>
                    <input class="divStrockZap2" style="top: 425px;  left: 400px;" placeholder="8g3Q0glm4">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 487px;">DiscountDescription:</p>
                    <input class="divStrockZap2" style="top: 485px;  left: 400px;" placeholder="Invalid">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 553px;">Login365:</p>
                    <input class="divStrockZap2" style="top: 554px;  left: 400px;"
                           placeholder="blabla@student.itstep.org">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 619px;">StudentCode:</p>
                    <input class="divStrockZap2" style="top: 623px;  left: 400px;" placeholder="5359118734">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 685px;">PersonDocumentNumber:</p>
                    <input class="divStrockZap2" style="top: 685px;  left: 400px;" placeholder="2834791392487">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 751px;">DateOfIssuePasport?:</p>
                    <input class="divStrockZap2" style="top: 753px;  left: 400px;" placeholder="Number Pasport">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 817px;">TIN:</p>
                    <input class="divStrockZap2" style="top: 818px;  left: 400px;" placeholder="533535">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 883px;">IsDiscount:</p>
                    <input class="divStrockZap2" style="top: 883px;  left: 400px;" placeholder="True">
                </div>

                <div class="div-p-input">
                    <p class="divStrockZap" style="top: 949px;">DiscountSum:</p>
                    <input class="divStrockZap2" style="top: 949px;  left: 400px;" placeholder="500 UAN">
                </div>
               
            </div>
            <div class="div-buttons">
                <input class="buttonstyleStudent2" type="submit" value="Заповнити договір">
                <input class="buttonstyleTeaher2" type="submit" value="Зберегти">
            </div>
        </div>
    </div>
</body>