@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link type="text/css" rel="stylesheet" href="/css/site.css">
<div class="divMar">

    
  
    <br />
    <a style="color:aqua" asp-controller="ZapTeacher" asp-action="profileBoss"> Boss </a>
    <br />
    <a style="color:aqua" asp-controller="ZapTeacher" asp-action="student"> Student </a>
    <br />
    <a style="color:aqua" asp-controller="ZapTeacher" asp-action="Teacher"> Teacher </a>
    <br />
    


</div>

   
