@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/teacher.css" asp-append-version="true" />
<style>
    .hiden {
        display: none;
    }

    .active {
        display: block;
    }
</style>




<div class="gridBox">
    <div class="leftBox">
        <div><h2>Студент</h2></div>

        <div class="avatar">
            <img class="avatar" src="~/Img1/FFFF/154785-temnota-multfilm-zhivopis-lev-art-360x640.jpg" />
        </div>

        <div class="status">
            <p>
                <span class="pStatus">Status:</span>
                <span class="online">Online</span>
                <span class="ofline">Ofline</span>
            </p>
        </div>
    </div>

    <div class="rightBox">
        <div class="infoBox">
            <div class="top">Info</div>


            @*Student// Director*@
            <div>
                <div class="box">
                    <div><p class="infoField">Name</p></div>
                    <span class="infoResult">Петренко Петро Петрович</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Phone</p></div>
                    <span class="infoResult">+380963254123</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Email</p></div>
                    <span class="infoResult">inga@gmail.com</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Login365</p></div>
                    <span class="infoResult">inga@gmail.com</span>
                </div>

                <div class="box">
                    <div><p class="infoField">MyStat Login</p></div>
                    <span class="infoResult">IngTEF634</span>
                </div>
                <div class="box">
                    <div><p class="infoField">MyStat Password</p></div>
                    <span class="infoResult">DF4342</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Student Code</p></div>
                    <span class="infoResult">inga@gmail.com</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Date Birthday</p></div>
                    <span class="infoResult">10.02.2021</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Pasport Number</p></div>
                    <span class="infoResult">633663254123</span>
                </div>

                <div class="box">
                    <div><p class="infoField">Date Of Passport Issue</p></div>
                    <span class="infoResult">12.12.2013</span>
                </div>
                <div class="box">
                    <div><p class="infoField">ІНН</p></div>
                    <span class="infoResult">633663254123</span>
                </div>
                <div class="box">
                    <div><p class="infoField">IsDiscount</p></div>
                    <span class="infoResult">true/false</span>
                </div>
                <div>
                    <div class="box">
                        <div><p class="infoField">Discount Sum</p></div>
                        <span class="infoResult">300</span>
                    </div>
                    <div class="box">
                        <div><p class="infoField">Discount Description</p></div>
                        <span class="infoResult">dshgdfhgjfgjdfhh</span>
                    </div>
                </div>
            </div>


            @*Student// Meneger*@
            @*<div class="hiden ">
            <div class="box">
            <div><p class="infoField">Name</p></div>
            <span class="infoResult">Петренко Петро Петрович</span>
            </div>

            <div class="box">
            <div><p class="infoField">Phone</p></div>
            <span class="infoResult">+380963254123</span>
            </div>

            <div class="box">
            <div><p class="infoField">Email</p></div>
            <span class="infoResult">inga@gmail.com</span>
            </div>

            <div class="box">
            <div><p class="infoField">Login365</p></div>
            <span class="infoResult">inga@gmail.com</span>
            </div>

            <div class="box">
            <div><p class="infoField">MyStat Login</p></div>
            <span class="infoResult">IngTEF634</span>
            </div>
            <div class="box">
            <div><p class="infoField">MyStat Password</p></div>
            <span class="infoResult">DF4342</span>
            </div>

            <div class="box">
            <div><p class="infoField">Student Code</p></div>
            <span class="infoResult">inga@gmail.com</span>
            </div>

            <div class="box">
            <div><p class="infoField">Date Birthday</p></div>
            <span class="infoResult">10.02.2021</span>
            </div>

            <div class="box">
            <div><p class="infoField">Pasport Number</p></div>
            <span class="infoResult">633663254123</span>
            </div>

            <div class="box">
            <div><p class="infoField">Date Of Passport Issue</p></div>
            <span class="infoResult">12.12.2013</span>
            </div>
            <div class="box">
            <div><p class="infoField">ІНН</p></div>
            <span class="infoResult">633663254123</span>
            </div>
            <div class="box">
            <div><p class="infoField">IsDiscount</p></div>
            <span class="infoResult">true/false</span>
            </div>
            <div>
            <div class="box">
            <div><p class="infoField">Discount Sum</p></div>
            <span class="infoResult">300</span>
            </div>
            <div class="box">
            <div><p class="infoField">Discount Description</p></div>
            <span class="infoResult">dshgdfhgjfgjdfhh</span>
            </div>
            </div>
            </div>*@


            @*Student// User*@
            @*<div class="hiden ">
            <div class="box">
            <div><p class="infoField">Name</p></div>
            <span class="infoResult">Петренко Петро Петрович</span>
            </div>

            <div class="box">
            <div><p class="infoField">Phone</p></div>
            <span class="infoResult">+380963254123</span>
            </div>

            <div class="box">
            <div><p class="infoField">Email</p></div>
            <span class="infoResult">inga@gmail.com</span>
            </div>

            <div class="box">
            <div><p class="infoField">Date Birthday</p></div>
            <span class="infoResult">10.02.2021</span>
            </div>


            </div>*@



        </div>
    </div>

    <div class="buttonDiv">
        <button class="button">Send Message</button>
    </div>

</div>
