<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MEVIO</title>
    
    @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/MEVIO.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>

    <div class="header">
        <img src="/img/logo.jpg" alt="" width="250px">
        <div class="ellipse-blur">
        </div>
    </div>

    <div class="left-menu">
        <img class="left-menu-img show-hide" src="/img/free-icon-left-chevron-7456442.png" alt="">
        <div class="left-flex">
            <img class="left-menu-img" src="/img/free-icon-dog-house-2500456.png" alt="">
            <img class="left-menu-img" src="/img/free-icon-calendar-747824.png" alt="">
            <img class="left-menu-img" src="/img/free-icon-percentage-1390317.png" alt="">
            <img class="left-menu-img" src="/img/free-icon-smile-3337247.png" alt="">
            <img class="left-menu-img" src="/img/free-icon-user-5807924.png" alt="">
        </div>

        <img class="left-menu-img" src="/img/free-icon-exit-1286907.png" alt="">
    </div>

    <div class="right-menu">
        <img class="right-menu-img" src="/img/free-icon-search-4194718.png" alt="">
        <hr class="_hr">

        <img class="right-menu-img" src="/img/free-icon-ringing-bell-6816519.png" alt="">
        <hr class="_hr">

        <img class="right-menu-img" src="/img/free-icon-chat-892177.png" alt="">
        <hr class="_hr">

        <img class="right-menu-img" src="/img/free-icon-user-5807924.png" alt="">
        <hr class="_hr">


    </div>





    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - MEVIO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   
   @* <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
