<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - MEVIO</title>

    @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" asp-append-version="true">

</head>
<body>

    <div class="layout-header">
        <img src="/img/logo.jpg" alt="" width="250px">
        <div class="ellipse-blur">
        </div>
    </div>

    <div class="left-menu">
        <a asp-controller="Home" asp-action="Index">
            <img class="left-menu-img show-hide" src="/img/free-icon-left-chevron-7456442.png" alt="">
        </a>
        <div class="left-flex">

            <a asp-controller="MainPage" asp-action="MainPage">
                <img class="left-menu-img" src="/img/free-icon-dog-house-2500456.png" alt="">
            </a>

            <a asp-controller="Calendar" asp-action="Index">
                <img class="left-menu-img" src="/img/free-icon-calendar-747824.png" alt="">
            </a>




            <img class="left-menu-img" src="/img/free-icon-percentage-1390317.png" alt="">
            <img class="left-menu-img" src="/img/free-icon-smile-3337247.png" alt="">
            <img class="left-menu-img" src="/img/free-icon-user-5807924.png" alt="">
        </div>

        <img class="left-menu-img" asp-controller="Home" asp-action="Logout" src="/img/free-icon-exit-1286907.png" alt="">
    </div>

    <div class="right-menu">
        <img class="right-menu-img" src="/img/free-icon-search-4194718.png" alt="">
        <hr class="_hr">

        <img class="right-menu-img" src="/img/free-icon-ringing-bell-6816519.png" alt="">
        <hr class="_hr">

        <a asp-controller="Home" asp-action="Chat">
            <img class="right-menu-img" src="/img/free-icon-chat-892177.png" alt="">
        </a>
        <hr class="_hr">

        <img class="right-menu-img" src="/img/free-icon-user-5807924.png" alt="">
        <hr class="_hr">


    </div>





    <div class="body-container">
        @RenderBody()
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - MEVIO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
